################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sender/TransactionAPI/.vs
/Sender/TransactionAPI/bin/Debug/net6.0
/Sender/TransactionAPI/obj/Debug/net6.0
/Sender/TransactionAPI/obj
